.css-ocqkz7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.e1tzin5v4 {
  background-color: #353839;
  padding: 4px;
  margin: 2px;
  border-radius: 6px;
}

.css-1r6slb0 {
  color: #ffffff;
}
.css-1rh8hwn {
  color: #ffffff;
}
